# Ignore large model and dataset files
Projects/MoiveRecommenderSystem/similarity.pkl
Projects/MoiveRecommenderSystem/*.csv
Projects/MoiveRecommenderSystem/*.pkl

# Python & VSCode related
__pycache__/
*.pyc
.vscode/

*.csv
*.pkl

